<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text" name="name" id="name" placeholder="Enter a Name" class="form-control" #name>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input type="number" name="amount" id="amount" placeholder="Enter a number" class="form-control" #amount>
        </div>
        <div class="col-sm-2 form-group">
          <label for="units">Units</label>
          <select name="units" id="units" class="form-control" #units>
            <option value="grams">g</option>
            <option value="oz">oz</option>
            <option value="lbs">tsp</option>
            <option value="lbs">tbsp</option>
            <option value="oz">lb</option>
            <option value="oz">ton</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit" (click)="addIngredient(name.value, amount.value, units.value)">Add</button>
          <button class="btn btn-danger" type="button" (click)="delIngredient()">Delete</button>
          <button class="btn btn-primary" type="button" (click)="resetIngredientForm()">Reset</button>
        </div>
      </div>
    </form>
  </div>
</div>
