<div fxLayout="row"
     fxLayoutGap="25px">
  <mat-form-field style="width: 40vw">
    <input matInput
           placeholder="Name">
  </mat-form-field>

  <mat-form-field style="width: 40vw">
    <input matInput
           placeholder="Amount">
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Units">
      <mat-option *ngFor="let unit of units"
                  [value]="unit.symbol">
        {{ unit.value }} ({{unit.symbol}})
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div fxLayout="row"
     fxLayoutGap="5px"
     fxLayoutAlign="center center">
  <button mat-raised-button
          (click)="addIngredient(name.value, amount.value, units.value)">Add</button>
  <button mat-raised-button
          color="warn"
          (click)="delIngredient()">Delete</button>
  <button mat-raised-button
          color="primary"
          (click)="resetIngredientForm()">Reset</button>

</div>